.Error{
    background: url('../img/background-erro.png') !important;    
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: rgb(24, 32, 41) !important;
    
}

.returnInicial{
    display: flex;
    float: left;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 10px 24px;
    border-radius: 8px;
    border-color: rgb(185, 8, 8);
    color: rgb(227, 66, 82);
    background-color: rgba(0, 0, 0, 0.466);
    cursor: pointer;
    font-weight: bold;
}

.returnInicial:hover{
    color: rgb(185, 8, 8);
    border-color: rgb(240, 223, 128);
    box-shadow: 1px 1px 5px rgb(227, 66, 82);
    transition: all 0.3s;
    transform: scale(1.05, 1.05);
    font-weight: bold;
}