header{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#logo-home{
    position: absolute;
    height: 180px;    
    right: 0;
    margin: 25px 4%;
    display: flex;
    align-items: center;
}

#logo-home img{
    float: right;   
    filter: drop-shadow(-6px 2px 4px rgb(255, 253, 166)); 
}

#text-logo{
    max-width: 530px;
    width: 74%;
}

#simbolo-logo{
    max-width: 180px;
    width: 40%;
}

.header-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}

#usuario-img{
    width: 150px; 
    margin-right: 17px;   
    margin-left: 25px;
}

.header-usuario p{
    font-size: 24px;
    font-weight: bold;
    color: rgb(227, 66, 82);
}

