#usuario{    
    position: absolute;
    top: 30%;
    height: 220px;
    width: 100%;
    display: flex;
    padding: 10px 0;
    background-image:linear-gradient(180deg, rgb(15, 36, 58) 0%, 
                                            rgba(27,31,40,0.7) 16%, 
                                            rgba(27,31,40,.07) 50%, 
                                            rgba(27,31,40,0.8) 86%, 
                                            rgba(15, 36, 58) 100%);
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.page-ini input{
    height: 42px;
    width: 340px;
    padding: 5px 12px;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid rgb(15, 36, 58);
}
