.section-personagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.personagens{
    position: relative;
    /*height: 650px;
    width: 320px;*/
    height: 520px;
    width: 240px;
    cursor: pointer;
}

#Killjoy{
    background-image: url("../img/killjoy.png");    
}

#Viper{
    background-image: url("../img/viper.png");    
}

#Skye{
    background-image: url("../img/skye.png");
}

#Sage{
    background-image: url("../img/sage.png");
}

#Killjoy, #Viper, #Skye, #Sage{
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;
    transition: all 0.3s;
}

#Killjoy:hover, #Viper:hover, #Skye:hover, #Sage:hover{
    transform: scale(1.2, 1.2);
    z-index: 1;
    transition: all 0.3s;
    box-shadow: 0 0 20px rgb(227, 66, 82);
}
